@font-face {
    font-family: Unhuman;
    src: url(/assets/fonts/Unhuman.woff2?1) format("woff2");
    font-weight: 400;
    font-style: normal
}

._glass_3fpva_218 {
    position: fixed;
    inset: 0
}

._color_3fpva_223 {
    background-color: #fffc
}

._blur_3fpva_227 {
    backdrop-filter: blur(3px)
}
